body {
    margin:0 auto;
    padding:0;
    text-align:center;
}

.awatar {
    background: -webkit-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: -o-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: -ms-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: -moz-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: linear-gradient(to top, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.awatar:before {
    position: absolute;
    content: "";
    background: url("Image/Layer\ 15.png") no-repeat center center;
    opacity:0.1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width:100%;
    height:auto;
    }

#menu-toggle {
    display: none;
  }

  label {
   display:none;
}

.awatar nav .logo {
    float:left;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
}

.awatar nav .logo:hover {
    color: yellow;
}

nav {
    width:80%;
    padding-top:10px;
    display:flex;
    justify-content: space-between;
    z-index:1;
}

.awatar nav .menu {
    float:right;
    list-style:none;
    margin:0;
}

.awatar nav .menu li {
    float:left;
    margin-right: 35px;
}

.awatar nav .menu li a {
    text-decoration: none;
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}

.awatar .menu .fas {
    font-size: 15px;
}

.awatar nav .menu li a:hover {
    color:yellow;
}

.awatar nav .menu li:hover {
    border-bottom: 3px solid yellow;
    padding-bottom:5px;
}

.awatar nav .menu li:last-child {
    margin-right: 0;
}

.awatar header {
    margin-top:120px;
    width:80%;
    position:relative;
}

.awatar header .header-text:before {
    content: 'Creative Template';
    display:block;
    text-align:center;
    color: white;
    font-size: 50px;
    font-family:"Kaushan Script";

}

.awatar header h1 {
    color: white;
    font-size: 11rem;
    margin:0;
    font-family:Arial;
}

.awatar header hr {
    width: 70px;
    height:3px;
    background-color:white;
    border:none;
    margin-bottom:50px;
}

.awatar header .btn {
    text-decoration: none;
    border:3px white solid;
    width:200px;
    height: 50px;
    background: none;
    color: white;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    margin-bottom:50px;
}

.awatar header .btn:hover {
    border:3px yellow solid;
    color:yellow;
    
}

.awatar .slider {
    display:flex;
    justify-content: flex-start;
    text-align:left;
    padding-bottom:15px;
    padding-top: 100px;
}

.awatar .slider .slider-style {
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace;
    margin-right:10px;
}

.awatar .slider .slider-style:last-child {
    margin-right:0;
}

.awatar .slider hr {
    width:280px;
    height: 3px;
    background-color: #ffffff;
    border:none;
}

                                                            /* TUTAJ ZACZYNA SIE SEKCJA ABOUT US */

.about-us {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.about-us header {
    margin-top: 50px;
}

.about-us header p:before {
    content: "What we do";
    display:block;
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family:"Kaushan Script";
}

 h2 {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    font-family:"Montserrat";
    margin:0;
    position:relative;
}

.about-us h2:after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    margin: auto;  
	top: 5rem;  
	right: 0;  
	bottom: 0;  
	left: 0;
}

.about-us .about-text {
    margin-top:50px;
    width:50%;
}

.about-us .about-text p {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 600;
    font-family: "Roboto";
}

.gallery {
    display: flex;
    justify-content: center;
    width:80%;
    margin:0;
    margin-top:50px;
}

.about-us .gallery .gallery-divs-style {
    max-width: 380px;
    height: 250px;
    background-color: #95e1d3;
    margin-right:1.5rem;
}

.about-us .gallery .gallery-divs-style:last-child {
    margin-right:0;
}

.about-us .gallery .gallery-divs-style img {
    width:100%;
    height:100%;
    cursor: pointer;
}

.about-us .gallery .gallery-divs-style img:hover {
    transform: translate(-0.5rem, -0.5rem);
    transition-duration: 0.8s;
}

.about-us .facts{
    width:100%;
    height: 270px;
    background-color: #95e1d3;
    margin-top:70px;
    display:flex;
    justify-content: center;
}

.about-us .facts .numbers {
    width:60%;
    min-width:900px;
    height:100%;
    display:flex;
    align-items: center;
}

.about-us .facts .numbers .facts-numbers {
    width:20%;
    height:100%;
    border-right:1px solid white;
    display:flex;
    justify-content: center;
    flex-direction: column;
    }

.about-us .facts .numbers .facts-numbers:first-child{
    border-left:1px solid white;
}

.about-us .facts .numbers .facts-numbers p {
    margin:0;
    padding:0;
    font-size: 5rem;
    color: #ffffff;
    font-weight: 700;
    font-family:"Montserrat";
}

.about-us .facts .numbers .facts-numbers span {
    font-size: 14px;
    color: #ffffff;
    font-weight: 550;
    font-family:"Montserrat";
    margin:0;
}
                                                            /* TUTAJ ZACZYNA SIE SEKCJA SERVICE */
.service {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.service header{
    margin-top:50px;
    margin-bottom:50px;
}

.service header h2:before {
    content: "We work with";
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    display:block;
    margin-bottom:10px;
    }

.service header h2:after {
    content:"";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position:absolute;
    margin: auto;  
	top: 8rem;  
	right: 0;  
	bottom: 0;  
	left: 0;
}

.service .us-services {
    width:60%;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:50px 0;
}

.service .us-services h3 {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    font-family: "Montserrat";
}

.service .us-services span {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 600;
    font-family: "Roboto";
}

.service .us-services .skills-row {
    width:100%;
    display:flex;
    position: relative;
    margin-bottom:30px;
}

.service .us-services .skills-row:last-child {
    margin-bottom:0;
    margin-top:30px;
}

.service .us-services .skills-row:first-child::after {
   content: "";
   width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    position:absolute;
    margin:auto;
    top:auto;
    left:0;
    right:0;
    bottom:0;
}

.service .us-services .skills-row .skills {
    margin-right:5%;
    text-align:left;
    display:flex;
    padding-bottom:65px;
    
}

.service .us-services .skills-row .skills:last-child {
    margin-right:0;
}

.service .us-services .skills-row:last-child .skills {
    padding-bottom:0;
}

.service .us-services .skills-row .skills i{
    color: #95e1d3;
    font-size:31px;
    margin-right:2rem;
    padding-top:1rem;
    }
                                                                /* TUTAJ ZACZYNA SIĘ SEKCJA FEAUTURE */
.feauture{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url("Image/Layer\ 45.png");
    position: relative;
    }
.feauture:before{
    position: absolute;
    content: "";
    background: rgba(250, 250, 250, 0.836);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    }
.feauture header {
    margin-top:50px;
    margin-bottom:50px;
}

.feauture header h2::before{
    content: "For all devices";
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    display:block;
    margin-bottom:10px;
    }

.feauture header h2:after {
    content:"";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position:absolute;
    margin: auto;  
	top: 8rem;  
	right: 0;  
	bottom: 0;  
	left: 0;
}

.feauture .responsive-picture-1 {
    position: relative;
    display:block;
}

.feauture .responsive-picture-2 {
    position: absolute;
    margin:auto;
    top:50%;
    left:55%;
}

.feauture .smaller-style {
    display:none;
}

.feauture .phonesmoller-style {
    display:none;
}

                                                                /* SECTION SERVICE-2 HERE */

.service-2 {
    width:100%;
    display:flex;
    align-items:center;
    flex-direction: column;
}
                                                                
.service-2 header {
    margin-top:80px;
    width:60%;
}

.service-2 header h2::before{
    content: "Service";
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    display:block;
    margin-bottom:10px;
    }

.service-2 header h2:after {
    content:"";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position:absolute;
    margin: auto;  
    top: 8rem;  
    right: 0;  
    bottom: 0;  
    left: 0;
    } 
.service-2 header p {
    margin-top: 50px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 600;
    font-family: "Roboto";
} 

.service-2 .service-body {
    width:80%;
    height: 397px;
    display:flex;
    justify-content: center;
    margin:0;
    padding:0;
    margin-top:50px;

}

.service-2 .service-body .Layer {
    max-width: 570px;
    height:auto;
    margin-right:2%;
}

.service-2 .service-body .Layer img {
    width:100%;
    height:100%;
}

.service-2 .service-body .information {
    width: 570px;
    max-width: 570px;
    height:auto;
    text-align:left;
    display:flex;
    flex-direction: column;
}

.service-2 .service-body .information .information-row-style {
    width: 100%;
    height:15%;
    background-color: rgba(0,0,0,0);
    border: 1px solid #e5e5e5;
    margin-bottom:1%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    cursor: pointer;
}

.service-2 .service-body .information .information-row-style .style-left {
    display:flex;
}

.service-2 .service-body .information .information-row-style:last-child {
    margin-bottom:0;
}

.service-2 .service-body .information .information-row-style h3 {
    font-size: 0.9rem;
    color: #333333;
    font-weight: bold;
    font-family: "Montserrat";
    padding:0;
    margin:0;
    margin-left:1rem;
}

.service-2 .service-body .information .information-row-style .style-left {
    padding-left:1rem;
}

.service-2 .service-body .information .information-row-style .arrow {
 padding-right:1rem;
}

.service-2 .service-body .information .information-row-style i {
    color: #95e1d3;
    font-size:30px;
    margin-right:1rem;
}

.service-2 .service-body .information p {
    height:50%;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    margin-left:1rem;
}

.service-2 .quote {
    width: 100%;
    height: auto;
    padding-top:2rem;
    padding-bottom:2rem;
    background-color: #f8f8f8;
    margin-top:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    }

.service-2 .quote .slider {
    width:60%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.service-2 .quote .slider .slider-body {
    display:flex;
    align-items: center;
    width:90%;
}

.service-2 .quote .slider .slider-body .icon img {
    border:3px solid #95e1d3;
    padding:1.5rem;
}
.service-2 .quote .slider .slider-body .text p {
    font-size: 1.3vw;
    line-height: 1;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    text-align: left;
    margin:0;
    margin-left:5%;
    display:block;
    position: relative;
}

.service-2 .quote .slider .slider-body .text hr {
    width: 4vw;
    height: 3px;
    background-color: #f38181;
    border:none;
    margin:0;
    margin-top:2.5%;
    position:relative;
}

.service-2 .quote .slider .slider-body .text span {
    display:flex;
    margin-top:10px;
    margin-left:5%;
}

.service-2 .quote .slider .slider-body .text span h4 {
    margin:0;
    margin-left:1%;
    font-size: 1.5vw;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
}

.service-2 .quote .slider .arrow-left {
    margin-right:5%;
    cursor: pointer;
}

.service-2 .quote .slider .arrow-right {
    margin-left:5%;
    cursor: pointer;
}

@media (max-width:1400px) and (min-width:1020px) {
    .awatar header h1 {
        font-size: 8rem;
    }

    .awatar .slider hr {
        width:11rem;
    }
}​

@media only screen and (max-width: 1200px){
    .awatar .slider hr {
        width:150px;    
    }
}

@media only screen and (max-width: 1020px) {
    .awatar header h1 {
        font-size: 3rem;
    }

    .awatar header .header-text:before {
        font-size: 1.5rem;
    }

    .awatar .slider .slider-style {
        font-size: 14px;
    }

    .awatar .slider hr {
        width:80px;
    }

    nav {
        width:100%;
        padding-top:20px;
        display:flex;
        align-items:center;
        flex-direction: column;
        justify-content: center;

    }

    label {
        border: 3px solid #ffffff;
        padding: 5px;
        margin-top: 10px;
        font-weight:bold;
        color:#ffffff;
        display:block;
    }

    .awatar nav .menu {
        width:300px;
        overflow: hidden;
        max-height: 0;
        padding: 0;
        margin: 0 auto;
        -webkit-transition: all 0.3s ease;
        display:flex;
        align-items: center;
        flex-direction: column;
        margin-top:10px;
    }

    #menu-toggle:checked + .menu {
        max-height: 300px;
      }
    
    .awatar nav .menu li {
        margin:0;
        margin-bottom:10px;

    }

    .awatar nav .menu li:hover {
       background-color:#000;
       opacity:0.4;
       width:100%;
       padding:0;

    }

    .awatar nav .menu li:hover {
        border:none;
    }

    .awatar nav .logo {
        font-size:40px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-us .gallery .gallery-divs-style {
        margin:0;
        margin-bottom:1rem;
        width:100%;
        
    }

    .about-us .facts{
        margin-top:70px;
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:50rem;
        padding:0;
        
    }

    .about-us .facts .numbers {
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .about-us .facts .numbers .facts-numbers {
        width:100%;
        height:100%;
        border-right:none;
        border-top:1px solid white;
        display:flex;
        justify-content: center;
        flex-direction: column;
        }
    .about-us .facts .numbers .facts-numbers:first-child{
        border-left:none;
    }  
    
    .about-us .facts .numbers {
        min-width:60%;
    }    
}

@media (max-width:1000px) and (min-width:700px) {
    .awatar .slider hr {
        width:9rem;
    }

}


@media only screen and (max-width: 500px) {
    .awatar .slider hr {
        width:50px;
    }
}

@media (max-width:415px) and (min-width:300px) {
    .awatar .slider hr {
        width:5rem;
    }

}

@media only screen and (width: 320px) {
    .awatar .slider hr {
        width:4rem;
    }
}

@media only screen and (max-width: 280px) {
    .awatar header h1 {
        font-size: 2.5rem;
        
        
    }

    .awatar header .header-text:before {
        font-size: 1.2rem;
    }
}

@media (max-width:1000px) and (min-width:277px) {
    .service .us-services .skills-row {
        display:flex;
        flex-direction: column; 
    }

    .service .us-services .skills-row .skills i {
        margin:0;
        padding:0;
    }
    
    .service .us-services .skills-row .test {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:1rem;
    }

    .service .us-services span {
        text-align:center;
    }
    .service .us-services .skills-row .skills {
        margin-right:0;
        margin-bottom:2rem;
        padding-bottom: 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .service .us-services .skills-row:first-child::after {
     display:none;
     }

     .feauture .smaller-style {
        display:block;
    }
    
    .feauture .phonesmoller-style {
        display:block;
    }

    .feauture .responsive-img-1{
        display:none;
    }

    .feauture .responsive-img-2{
        display:none;
    }

    .feauture .responsive-picture-2 {
        top:55%;
        left:55%;
    }

    .awatar:before{
        background: url("Image/Layer\ 15s.png") no-repeat center center;
        }
        
    .service-2 .service-body {
    width:80%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding:0;

    }    

    .service-2 .service-body .information {
        width: 100%;
        height:200px;
    }

    .service-2 .service-body .information .information-row-style {
        padding-top:2%;
        padding-bottom:2%;
    }

    .service-2 .service-body .Layer {
        margin-right:0;
        margin-bottom:4%;
    }

    .service-2 .quote .slider {
        width:70%;
    }

    .service-2 .quote .slider .slider-body {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .service-2 .quote .slider .slider-body .text p {
        font-size: 2.5vw;
        text-align:center;
        margin-left:0;
        margin-top:4%;
    }

    .service-2 .quote .slider .slider-body .text hr {
        margin:0;
        margin-top:1%;
        margin-right:1%;
        padding:0;
        width:5vw;
        height:2px;
    }

    .service-2 .quote .slider .slider-body .text span {
        align-items: center;
        justify-content: center;
    }

    .service-2 .quote .slider .slider-body .text span h4 {
        font-size: 2vw;
        margin:0;
        padding:0;
    }

}



