body {
    margin:0;
    padding:0;
    
}


#awatar {

    background: -webkit-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: -o-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: -ms-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: -moz-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: linear-gradient(to top, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background-size: cover;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction:column;
  
}


#logo {
    float:left;
    padding-left:20%;
    padding-top:20px;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
}

#menu {
    float:right;
    padding-right:20%;
    padding-left:20%;
    padding-top:20px;
}

.styleMenu {
    float:left;
    margin-right: 35px;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}


.styleIcon {

    color: white;
    margin-right:35px;
}

#CreativeTemplate {
    width:100%;
    float: left;
    padding-top:3%;
}

#CreativeTemplateTEXT {
    text-align:center;
    color: white;
    font-size: 50px;
    font-family:cursive;
}

#WelcomeToMogo {

    width:100%;
    float: left;
}

#WelcomeToMogoTEXT {
    text-align:center;
    color: white;
    font-size: 170px;
    font-family:Arial;
    font-weight:bold;
    padding-right:20%;
    padding-left:20%;
    margin:0;

}

hr {
    width: 70px;
    height:3px;
    background-color:white;
    border:none;
    margin-bottom:50px;
    
}

#buttonDiv {

    
    width:100%;
    text-align:center;
    display:flex;
    justify-content: center;
    
}

#LearnMoreButton {

    border:3px white solid;
    width:200px;
    height: 50px;
    background: none;
    color: white;
    font-weight:bold;
    
    
}


#AwatarFooter {
    width: 100%;
    display:flex;
    justify-content: center;
    

}

.AwatarFooterStyle{
    color: white;
    margin-right: 2%;
    padding-top: 6%;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

#contacts {
    margin-right:0;
}

.numberStyle {
    font-weight:bold;
    font-size:23px;
}

.hrStyleFooter {
    margin:0;
    margin-bottom:10px;
    width:260px;
}

#WhatWeDo {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top:20px;
}

#WhatWeDoText {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family:cursive;
}

#StoryAboutUsText {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    font-family:Arial;
    margin:0;
    
}

#hrStyleWeDo {
    width: 60px;
    background-color: #f38181;
    margin-top:30px;
    margin-bottom:30px;
}

#TextWhatWeDo {
    width:63%;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 100px;
}

.PicStyle {
    width: 380px;
    height: 250px;
    margin-right:30px;
}