body {
    margin:0 auto;
    padding:0;
    text-align:center;
}

.awatar {
    background: -webkit-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: -o-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: -ms-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: -moz-linear-gradient(bottom, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    background: linear-gradient(to top, rgb(230, 207, 127) 11%, rgb(224, 148, 121) 57%, rgb(222, 119, 119) 87%);
    padding-right:20%;
    padding-left:20%;    
}
/* 
.bird-overlay {
    background-color: black;
    opacity: 0.5;
    width:100%;
    height:100%;
    position: absolute;
    margin:0;
    padding:0;
} */

.awatar nav .logo {
    float:left;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    z-index: 1;
}

.awatar nav .logo:hover {
    color: yellow;
}

nav {
    padding-top:10px;
}

.awatar nav .menu {
    float:right;
    list-style:none;
    margin:0;
}

.awatar nav .menu li {
    float:left;
    margin-right: 35px;
}

.awatar nav .menu li a {
    text-decoration: none;
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}

.awatar nav .menu li a:hover {
    color:yellow;
}

.awatar nav .menu li:hover {
    border-bottom: 3px solid yellow;
    padding-bottom:5px;
}

.awatar nav .menu li:last-child {
    margin-right: 0;
}

.awatar header {
    margin-top:160px;
}

.awatar header p:before {
    content: 'Creative Template';
    display:block;
    text-align:center;
    color: white;
    font-size: 50px;
    font-family:cursive;
}

.awatar header h1 {
    color: white;
    font-size: 170px;
    margin:0;
    font-family:Arial;
}

.awatar header hr {
    width: 70px;
    height:3px;
    background-color:white;
    border:none;
    margin-bottom:50px;
}

.awatar header .btn {
    text-decoration: none;
    border:3px white solid;
    width:200px;
    height: 50px;
    background: none;
    color: white;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    margin-bottom:50px;
}

.awatar header .btn:hover {
    border:3px yellow solid;
    color:yellow;
    
}

.awatar .slider {
    display:flex;
    justify-content: flex-start;
    text-align:left;
    padding-bottom:15px;
    padding-top: 100px;
}

.awatar .slider .slider-style {
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace;
    margin-right:10px;
}

.awatar .slider .slider-style:last-child {
    margin-right:0;
}

.awatar .slider hr {
    width:280px;
    height: 3px;
    background-color: #ffffff;
    border:none;
}

.about-us header {
    margin-top: 50px;
}

.about-us header p:before {
    content: "What we do";
    display:block;
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family:cursive;
}

.about-us header h2 {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    font-family:Arial;
    margin:0;
}




